<html lang="en-US">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form class="form-signin" action="/login/auth" method="post">
    <div class="text-center mb-4">
      <img src="/static/image/login_icon.png" alt="ログインフォーム" width="72" height="72">
    </div>
    <input type="email" name="email" class="form-control" placeholder="メールアドレス" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="パスワード" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember-me">メールアドレス保持
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
  </form>
</body>

<footer>
  <%- include('../common/fooder', {}) %>
  <link rel="stylesheet" href="/static/css/individual/login/login.css">
</footer>

</html>