<html lang="en-US">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class="text-center">なんかのviewer</h1>
  <div class="mx-auto" style="width: 500px">
    <form action="/login/auth" method="post" name="form-login">
      <div class="form-group">
        <label for="username">ユーザID</label>
        <input type="text" class="form-control" id="username" placeholder="UserName">
      </div>
      <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary mx-auto d-block">ログイン</button>
    </form>
  </div>
</body>
<footer>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</footer>

</html>