<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">ダッシュボード</a>
        <a href="/viewer" class="list-group-item list-group-item-action bg-light">ベスト枠</a>
    </div>
</div>