<html lang="en-US">
  <head>
  <meta charset="utf-8">
    <title>top画面</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  </head>
  <body>
      <a href="/login">ログインページ</a>
  </body>
</html>