<html lang="en-US">
  <head>
  <meta charset="utf-8">
    <title>レート情報</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>曲名</th>
        <th>難易度</th>
        <th>定数</th>
        <th>スコア</th>
        <th>レート値</th>
      </tr>
      <tr></tr>
      </table>
  </body>
  <footer>
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </footer>
</html>