<html lang="en-US">

<head>
  <title>レート情報</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h2>ベスト枠</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>曲名</th>
          <th>難易度</th>
          <th>定数</th>
          <th>スコア</th>
          <th>レート値</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < 10; i++) { %>
          <tr>
            <td>ラブって♡ジュエリー♪えんじぇる☆ブレイク！！</td>
            <td>master</td>
            <td>12.7</td>
            <td>1,008,576</td>
            <td>14.7</td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>

<footer>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</footer>

</html>